<div class="sort_and_filter">
  <%= form_tag category_path, method: :get, remote: true, class: "sort-and-filter" do %>
    <div class="input-group">
      <%= label_tag "post_type"  %>
      <div class="select">
        <%= select_tag("type", options_for_select(["All", "Video", "Written"], "All")) %>
        <div class="select__arrow"></div>
      </div>
    </div>
    <div class="input-group">
      <%= label_tag "category"  %>
      <div class="select">
        <%= select_tag(:tag, options_for_select(tag_filter,  "All")) %>
        <div class="select__arrow"></div>
      </div>
    </div>
    <div class="input-group">
      <%= label_tag "sort"  %>
      <div class="select">
        <%= select_tag(:order, options_for_select([["Newest First", "desc"], ["Oldest First", "asc"]], "Newest First")) %>
        <div class="select__arrow"></div>
      </div>
    </div>
    <%= submit_tag%>
  <% end %>
</div>
