<aside>
  <h2>Content Options</h2>
  <ul>
    <li class="expander">
       <%= link_to "Publishing Options", "#expand",
       :class => "expander-trigger expander-hidden" %>
      <div class="expander-content">
        <span class="bip-label">slug</span>
          <%= best_in_place @entry, :slug, :as => :input, :param => :entry,
          :place_holder => "the_page_slug", :url => entry_path,
          :class => "textarea-body", :inner_class => "textarea-body" %>
        </br></br>
        <%= publish_status(@entry) %>
      </div>
    </li>
    <li class="expander">
      <%= link_to "Markup Options", "#expand",
      :class => "expander-trigger expander-hidden" %>
      <div class="expander-content">
        <div class="content-component">
            <h4>Embed a Video</h4>
            <a id="content-component-video" href="#" draggable="true">
              <%= inline_svg("booqcms/videoplayer.svg", class: 'content-component-svg') %>
            </a>
            <form class="video_embed_form">
              <input type="text" placeholder="video url:" id="video_url_field" value=""/>
              <button type="submit" class="submit">submit</button>
            </form>
            <span class="content-component-text">or</span>
            <label for="modal-1">
              <div class="modal-trigger">Video Library</div>
            </label>
          </div>
      </div>
    </li>
  </ul>
</aside>
