<!-- <span class="bip-label">title</span>
<%= best_in_place @entry, :title, :as => :input, :param => :entry,
:place_holder => "If no Title, Add One Here!", :url => entry_path,
:class => "mkdwn-title bip", :inner_class => "input-title" %>
</br></br>
<span class="bip-label">body</span>
<%= best_in_place @entry, :payload, :as => :textarea, :param => :entry,
:place_holder => "Start adding your body copy here.", :url => entry_path,
:class => "textarea-body bip", :inner_class => "textarea-body" %>
</br></br> -->

<%= simple_form_for @entry do |f| %>
  <div class="input-group">
    <span class="bip-label">title</span>
    <%= f.input :title, label: false, input_html: {class: 'mkdwn-title'} %>
  </div>
  <div class="input-group">
    <span class="bip-label">body</span>
    <%= f.input :payload, label: false, input_html: {class: 'textarea-body'} %>
  </div>
  <%= f.button :submit %>
<% end %>
