<aside>
  <h2>Content Options</h2>
  <ul>
    <li class="expander">
       <%= link_to "Publishing Options", "#expand",
       :class => "expander-trigger expander-hidden" %>
      <div class="expander-content">

        <%= simple_form_for @entry do |f| %>
          <div class="input-group">
            <span class="bip-label sidebar">slug</span>
            <%= f.input :slug, label: false, input_html: {class: 'slug-input'} %>
          </div>
          <%= f.button :submit %>
        <% end %>
        <hr>
        <%= publish_status(@entry) %>
      </div>
    </li>
    <li class="expander">
      <%= link_to "Markup Options", "#expand",
      :class => "expander-trigger expander-hidden" %>
      <div class="expander-content">
        <div class="content-component">
            <h4>Embed a Video</h4>
            <a id="content-component-video" href="#" draggable="true">
              <div class="youtube-component-thumb">
                <%= inline_svg("booqcms/videoplayer.svg", class: 'content-component-svg') %>
              </div>
            </a>
            <form class="video_embed_form">
              <input type="text" placeholder="youtube video id:" id="video_id_field" value=""/>
              <button type="submit" class="submit">submit</button>
            </form>
          </div>
          <div class="content-component">
              <h4>Embed an Image</h4>
              <a id="content-component-image" href="#" draggable="true">
                <div class="image-component-thumb">
                  <%= inline_svg("booqcms/photo.svg", class: 'content-component-svg') %>
                </div>
              </a>
              <!-- <form>
                <input type="text" placeholder="image url:" id="image_url_field" value=""/>
                <button type="submit" class="submit">submit</button>
              </form>
              <span class="content-component-text">or</span> -->
              <label for="modal-2">
                <div class="modal-trigger">
                  <%= link_to "Media Library", {controller: "media"},
                 remote: true  %>
               </div>
              </label>
            </div>
      </div>
    </li>
  </ul>
</aside>
