<h2><%= @entry.title %></h2>
<p class="meta"><%= @entry.author_name %> <%= @entry.published_at %></p>
<div class="post-body">
  <%= preview_featured_image(@entry) %>
  <%= markdown(@entry.payload) %>
</div>
