<section>
  <%= render "admin_editpost_nav" %>
  <article>
    <ul class="accordion-tabs-minimal">
      <li class="tab-header-and-content">
        <a href="#" class="tab-link is-active">MarkDown</a>
        <div class="tab-content">
          <%= edit_post_content(@entry) %>
        </div>
      </li>
      <li class="tab-header-and-content">
        <%= link_to "Visual Preview", entry_preview_path(@entry.id),
         id: "preview-tab", class: "tab-link", remote: true  %>
        <div class="tab-content">
          <div class="preview-content"></div>
        </div>
      </li>
    </ul>
  </article>
</section>

<%= render "media_library_modal" %>
<%= render "image_library_modal" %>
