<section>
  <%= render "admin_newpost_nav" %>
  <article>
    <ul class="accordion-tabs-minimal">
      <li class="tab-header-and-content">
        <a href="#" class="tab-link is-active">MarkDown</a>
        <div class="tab-content">
          <span class="tooltip-item">
            <span class="bip-label">title</span>
            <%= best_in_place @entry, :title, :as => :input, :param => :entry,
            :place_holder => "If no Title, Add One Here!", :url => entry_path,
            :class => "mkdwn-title", :inner_class => "input-title" %>
          </span>

        </br></br>
          <% @entry.class.content_attributes.each do |attr_name, attr_type| %>
          <span class="tooltip-item">
            <span class="bip-label"><%= "#{attr_name}" %></span>
            <%= best_in_place @entry, attr_name, :as => attr_type_to_input(attr_type), :param => :entry,
             :place_holder => attr_placeholder(attr_name, attr_type), :url => entry_path, :inner_class => "textarea-body",
             :sanitize => false %>
           </span>
           </br></br>
          <% end %>
          <!-- <div id="droppable-body" class="droppable" style="width:400px; height:200px; border:1px dotted #eeeeee;" contenteditable="true"></div> -->
        </div>
      </li>
      <li class="tab-header-and-content">
        <%= link_to "Visual Preview", entry_preview_path(content_class, @entry.id), id: "preview-tab", class: "tab-link", remote: true  %>
        <div class="tab-content">
          <div class="preview-content"></div>
        </div>
      </li>
    </ul>
  </article>
</section>

<%= render "media_library_modal" %>
