<section>
  <%= render "admin_allposts_nav" %>
  <article>

    <ul class="accordion-tabs-minimal">
      <li class="tab-header-and-content">
        <a href="#" class="tab-link is-active"><%= content_class.tableize.titleize %></a>
        <div class="tab-content">
          <div class="grid-items-lines">
            <%= form_tag destroy_multiple_entries_path, method: :delete do %>
              <% @entries.reverse_each do |entry| %>
                  <%= grid_item_box(entry)%>
              <% end %>
              <%= submit_tag "delete selected", :class => "multi-delete-submit", data: { confirm: 'You sure about that boss?' } %>
            <% end %>

          </div>
        </div>
      </li>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Preview Post</a>
        <div class="tab-content">
          <div class="post-preview">
            <div class="preview-content"></div>
              <div class="status">
                <span class="badge-alert">draft</span>
              </div>
            </div>
        </div>
      </li>
    </ul>
  </article>
</section>
