<span>use this image</span>
<img src="<%= @upload.file.thumb %>" /><br/>
<hr>

<%= form_for @entry, url: {controller: "entries", action: "update", id: @entry.id}, method: "patch" do |f| %>
  <%= f.hidden_field :featured_image, value: @upload.file %>
  <%= f.submit "Use as Featured Image" %>
<% end %>

<div class="image_embed_form">
  <input type="hidden" id="image-src-field" value="<%= @upload.file %>"/>
  <input type="text" title="caption" id="image-caption-field" name="caption" placeholder="caption" />
  <input type="text" title="alt" id="image-alt-field" name="alt" placeholder="alt text (for SEO and screen readers)" />
  <input type="text" title="title" id="image-title-field" name="title" placeholder="title- will be used in a tooltip" />
  <input type="text-box" title="description" id="image-description-field" name="description" placeholder="describe the image (for SEO and screen readers)" />
  <input type="submit" class="submit" value ="Generate Markup for Image" return="false"/>
</div>
