<table>
  <thead>
   <tr>
     <th colspan="2">Word Count</th>
   </tr>
 </thead>
 <tbody>
   <tr>
     <td>Word count</td>
     <td><%= seo_analysis.word_count %></td>
   </tr>
   <tr>
     <td>Sentence count</td>
     <td><%= seo_analysis.sentence_count %></td>
   </tr>
 </tbody>
</table>

<table>
  <thead>
   <tr>
     <th colspan="3">Word Frequency</th>
   </tr>
   <tr>
     <th>word</th>
     <th>count</th>
     <th>density</th>
   </tr>
 </thead>
 <tbody>
   <% seo_analysis.words.each do |w| %>
     <tr>
       <td class= "seo-word"><%= w.word %></td>
       <td><%= w.frequency %></td>
       <td><%= w.density %></td>
     </tr>
   <% end %>
 </tbody>
 <tfoot>
   <tr>
     <td clospan="3"><button type="button" class="clear-highlighting btn-small">clear highlighting</button></td>
   </tr>
 </tfoot>
</table>

<table>
  <thead>
   <tr>
     <th colspan="2">Readability Score</th>
   </tr>
   <tr>
     <th>score</th>
     <th>meaning</th>
   </tr>
 </thead>
 <tbody>
   <tr>
     <td><%= seo_analysis.readibility_score %></td>
     <td><%= seo_analysis.score_meaning %></td>
   </tr>
 </tbody>
</table>
