<div class="post_card_wrapper">
  <div class="post_count"><h3><%= "#{@posts.count}" + " " +
 " " + "post".pluralize(@posts.count)%></h3>
 </div>
</div>
<% @posts.each do |post| %>
  <div class="post_card_wrapper">
    <div class="post_card">
      <%= link_to path_to_post(post) do %>
      <div class="post-excerpt-image">
        <img src="<%= post.featured_image%>"/>
      </div>
      <div class="post-excerpt">
        <%= render 'share_buttons' %>
        <h2><%= post.title %></h2>
        <p><%= truncate(post.payload, length: 175, separator: ' ') %></p>
        <div class="post-tags"><%= show_tags(post) %></div>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
