<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <%= image_tag 'dashboard/book.png' %>
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>How to GIMP Book</h3></li>
      <li><%= link_to "Buy the Book", gimp_book_path %></li>
      <li><%= link_to "Get Practice Images", practice_images_path %></li>
      <li><%= link_to "Book FAQ", book_faq_path %></li>
    </ul>
    <ul>
      <li><h3>Contact</h3></li>
      <li><a href="https://www.pinterest.com/howtogimp/">Pinterest</a></li>
      <li><a href="https://www.youtube.com/howtogimp">YouTube</a></li>
      <li><a href="http://howtogimp.tumblr.com">Tumblr</a></li>
    </ul>
    <ul>
      <li><h3>Site Info</h3></li>
      <li>
        <a href="http://www.flaticon.com" title="Flaticon">
          <%= inline_svg 'edit_image.svg', class:"footer-list-icon" %> &
          <%= inline_svg 'dashboard/book-and-glasses.svg', class:"footer-list-icon", id:"book-and-glasses" %>
        </a>
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
      </li>
      <li><%= link_to 'Privacy Policy', privacy_policy_path %></li>
      <li><a href=""></a>©KatLandreth <%= Time.now.year %></li>
    </ul>
  </div>

</footer>
