<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <%= image_tag 'dashboard/book.png' %>
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>How to GIMP Book</h3></li>
      <li><%= link_to "Buy the Book", gimp_book_path %></li>
      <li><%= link_to "Get Practice Images", practice_images_path %></li>
      <li><a href="javascript:void(0)">Marketing</a></li>
    </ul>
    <ul>
      <li><h3>Contact</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Help</h3></li>
      <li><a href="http://www.flaticon.com" title="Flaticon">Book Icon</a> <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
      <li><a href=""></a>©KatLandreth <%= Time.now.year %></li>
      <li><%= link_to 'Privacy Policy', privacy_policy_path %></li>
    </ul>
  </div>

</footer>
